 body{
  background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%,
   rgba(110,123,251,1) 91.1% );
 }
 input{
  background-color: transparent;
 }
 .mainbody{
position: fixed;
width: 100%;
top: -2.5vh;
z-index: 1;
 }

.container
{
  margin-top: 10vh;

}
.right{
  /* border: 2px solid red; */
  margin-top: -1.5rem;
}

.nav{
  margin-top: 1rem;
  background-image: linear-gradient( 109.6deg, rgba(110,123,251,1) 11.2%,
   rgba(110,123,251,1) 91.1% );
}
.nav-items{
  /* background-color: antiquewhite; */
  border-radius: 10%;
}
.nav-links{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.nav-links a{
  color: honeydew;
  text-decoration: none;
}
.active{
  background-image: linear-gradient( 109.6deg, rgb(167, 168, 177) 11.2%,
  rgb(175, 179, 220) 91.1% );
  border-radius: 10px;
  padding: 0.1rem  .6rem;
}
.nav-links span{
  color: rgb(84, 80, 80);
  
}
.loginpage{
  /* border: 2px solid  blue; */
  padding: 2rem;
  /* font-size: 60%; */
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}


/* /main home page starts here  */
.midcontaier{
  display: flex;
  /* justify-content: space-around; */
}
.image{
  flex: 2;
}
.image img{
  margin-top: 4%;
 width: 45vw;
  
 /* border: 2px solid ; */
}
.content{
  flex: 2;
  width: 50vw;
  /* border: 2px solid; */
  padding: 5rem 3rem;

}
.second img{
/* border: 2px solid; */
height: 50vh;
width: 85vw;
}

.cards{
  margin-top: 1rem;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */

}
.card{
  background-color: transparent;
  width: 235px;
  margin: 1rem;
  
}
.card :hover{
  opacity: 0.9;
  transform: translateY(1%);
}
.card img{
  width: 100%;height: 230px;
  /* height: 60%; */
}
.card_footer{
  /* border: 2px solid grey; */
  text-align: center;
}
.card_footer button{
  margin-bottom: 1rem;
}



/* // cart items  */
.allcards{
  border: 1px solid;
  margin: 1rem;
  display:  flex;
  /* border:  2px solid green; */
  align-items: center;
}
.card-items{
 /* border: 2px solid red;  */
  padding: 1rem;
  display: flex;
  flex: 2;
  justify-content: space-around;
  
  align-items: center;
}
.desc{
  flex: 2;
}
.card-items img{
  height: 200px;
  width: 200px;
}


/* //description  */

.big-container{
  width: 92vw;
  margin-top: .5rem;
  
  margin-left: 2%;
  display: flex;
  /* color: goldenrod; */
}


.desc-style{
   /* border: 2px solid; */
   padding-top:5vh;
    margin: auto;
    width: 30vw;
    margin-left: 10vw;
}
.description{
  /* border: 2px solid red; */
  text-align:left ;
  font-family: 'Gill Sans',
   'Gill Sans MT',
    Calibri, 'Trebuchet MS', 
    sans-serif;
  word-spacing:.1mm;
}


.service{
  /* border: 2px solid red; */
 margin-left: -10px;
  width:40vw;
  display: flex;
  justify-content: space-around;
}
.servicelist p{
color: whitesmoke;
font-weight: bold;
font-size: 50%;
margin-bottom: 0;
}
.details{
  text-align: left;
  margin:15px 10px
}
.details p {
  text-transform: capitalize;
  font-size: 70%;
  color: wheat;
  font-weight: bold;
  margin-bottom: 0;
}
.cart-button button{
  margin: 0 5px;
  opacity: 0.7;
}

/* // images  */
.image-container{
  /* border: 2px solid red; */
  margin-left: 5vw;
  display: flex;
 }
  .Images{
    flex: 1;
    /* border: 2px solid blue; */
  }
  .image-list{
    /* border: 2px solid yellow; */
    height: 20vh;
    width: 20vw;
  }
   .big-image{
    flex: 1;
   }

   .image-list img{
    margin: .5rem;
    height: 19vh;
    width: 80%;
    
   }

  .imagesBig{

    /* border: 2px solid red; */
    height: 20vw;
    width: 20vw;
  }
  .imagesBig img{
    height: inherit;
    width: 25vw;
    margin-top: 17vh;
  }
  .pincode{
    border-radius: 5px;
    /* margin: .5rem 1rem; */
    color: black;
  }
  .quantity{
    color: white;
    padding: 0 .5rem;
    font-weight: bold;
  }

  .top{
    display: flex;
    justify-content: space-between;
  }
.card{
  padding: .5rem;
}
  .card p,h6{
    text-transform: capitalize;
  }

@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}